* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #e9f0f4;
  font-family: "Lato", sans-serif; }

h1 {
  padding: 0; }

.container {
  width: 40vw;
  background: white;
  margin: 10vh auto 30vh; }
  .container .row {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'col1 col2 col3';
    grid-template-columns: 1fr 8fr 1fr;
    color: #2e3641;
    border-top: 1px solid #9eb2c0; }
    .container .row.row-header {
      background: #2e3641;
      color: #9eb2c0; }
    .container .row .col {
      padding: 1.5rem 1rem;
      display: flex; }
    .container .row .col-1 {
      grid-area: col1;
      border-right: 1px dashed #f2e3df;
      justify-content: center;
      align-items: center; }
    .container .row .col-2 {
      grid-area: col2;
      border-left: 1px dashed #f2e3df;
      justify-content: flex-start;
      align-items: center; }
    .container .row .col-3 {
      grid-area: col3;
      justify-content: center;
      align-items: center; }
      .container .row .col-3 .delete-icon {
        width: 20px;
        height: 20px; }

input[type=checkbox] {
  transform: scale(1);
  cursor: pointer;
  visibility: hidden; }
  input[type=checkbox]:after {
    content: " ";
    display: inline-block;
    padding: 0.54rem;
    margin: -3px;
    color: #d0dba8;
    visibility: visible;
    border: 2px solid #9eb2c0; }
  input[type=checkbox]:checked:after {
    content: "\2714";
    padding: 0 0.2rem;
    font-weight: bold; }

form input {
  border: none;
  outline: none;
  width: 100%;
  color: #2e3641;
  font-size: 1.4rem;
  font-style: "Lato", sans-serif; }

form .submit-btn {
  color: #9eb2c0;
  border: none;
  background-color: #fff; }
  form .submit-btn:focus {
    outline: none; }

.task-done-title {
  text-decoration: line-through;
  color: #9eb2c0; }

.task-done-trash {
  filter: brightness(270%); }

.information {
  display: none; }
  .information p {
    font-family: "Lato", sans-serif; }

.showInformation {
  display: block;
  padding: 1.5rem 1rem;
  width: 40vw;
  margin: 5rem auto 1rem;
  background: #ED6B86;
  border: 2px solid #d81a42;
  text-align: center; }
  .showInformation .textInformation {
    color: #2e3641;
    font-size: 1.2rem;
    font-weight: bold; }
