$background-color: #e9f0f4;
$background-color-info: #ED6B86;
$primary-color: #2e3641;
$secondary-color: #9eb2c0;
$line-color: #f2e3df;
$font-stack: 'Lato', sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body  {
    background-color: $background-color;
    font-family: $font-stack;
}

h1 {
    padding: 0;

}

.container {
    width: 40vw;
    background: white;
    margin: 10vh auto 30vh;

    .row {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        'col1 col2 col3';
    grid-template-columns: 1fr 8fr 1fr;
    color: $primary-color;
    border-top: 1px solid $secondary-color;

        &.row-header {
        background: $primary-color;
        color: #9eb2c0;
        }

        .col {
            padding: 1.5rem 1rem;
            display: flex;
        }

        .col-1 {
          grid-area: col1;
          border-right: 1px dashed $line-color;
          justify-content: center;
            align-items: center;
        }

        .col-2 {
          grid-area: col2;
          border-left: 1px dashed $line-color;
          justify-content: flex-start;
          align-items: center;

        }

        .col-3 {
          grid-area: col3;
          justify-content: center;
            align-items: center;
        //position: relative;

          .delete-icon {
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
          }
        }
    }


}

input[type=checkbox] {
    transform: scale(1);
    cursor: pointer;
    visibility: hidden;

    &:after {
        content: " ";
        display: inline-block;
        padding: 0.54rem;
        margin: -3px;
        color: #d0dba8;
        visibility: visible;
        border: 2px solid $secondary-color;
    }

    &:checked:after {
        content: "\2714";
        padding: 0 0.2rem;
        font-weight: bold;
    }
}


form {
    input {
        border: none;
        outline: none;
        width: 100%;
        color: $primary-color;
        font-size: 1.4rem;
        font-style: $font-stack;
    }

    .submit-btn {
        color: $secondary-color;
        border: none;
        background-color: #fff;

        &:focus {
            outline: none;
        }
    }
}

.task-done-title {
    text-decoration: line-through;
    color: $secondary-color;
}

.task-done-trash {
   filter: brightness(270%);
}

.information {
  display: none;
    p {
    font-family: $font-stack;
  }
}
.showInformation {
  display: block;
  padding: 1.5rem 1rem;
  width: 40vw;
  margin: 5rem auto 1rem;
  background: $background-color-info;
  border: 2px solid darken($background-color-info, 20);
  text-align: center;

  .textInformation {
    color: $primary-color;
    font-size: 1.2rem;
    font-weight: bold;
  }
}
